/* all */
*{
  margin: 0px;
  padding: 0px;
}
body{
  margin: 2px;
  padding: 2px;
}
/* button-part */
.btn-primary{
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
background: #E55473;
color:white;
border: none;
}
/* header-part */
header{
  height: 50vh;
  background-color: bisque;
}
.header-container{
  display: flex;
  justify-content: space-around;
}
/* head-left-part */
.head-left{
  align-items: center;
  width: 50%;
  margin-top: 80px;
}
.head-left h3{
  font-size: 50px;
  color:black;
}
.head-right img{
  align-items: center;
  height: 50vh;
}